
.image{
  height: 44.5rem;
  width: 100%;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:red;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  /* border-radius: 5px; */
  text-align: center;
}

.btn:hover {
  background-color: black;
}


.buttonImage{
  padding: 25px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: #ff5470;
  border: none;
  text-transform: uppercase;
}
.hover {
  text-align: center;
  margin-top: -31%;
}

.buttonImage:hover {
  background-color:black;
}
.container {
  position: relative;
  margin-top: 100px;
  width: 33%;
  height: 30px;
}
.text{
  position: absolute;
  width: 190px;
  top: 167px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: rgb(70, 69, 69);
  padding: 12%;
}
.container:hover .text {
  top: 60px;
}
.button {
  position: absolute;
  width: 84.8%;
  right: 15.5%;
  top: 200px;
  text-align: center;
  opacity: 0;
  height: 106px;
  margin-left: 152px;
  background-color: #ff5470;
}
.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: #ff5470;
  border: solid 2px #ff5470;
  z-index: 1;
}
.container:hover .button {
  opacity: 1;
}
.hoverButton {
  margin-top: 28px;
  text-decoration: none;
  background: none;
  border: 2px solid black;
  color: white;
  padding: 10px 10px;
  text-transform: uppercase;
}

.hoverButton:hover {
  background-color: black;
}
.mainContainer {
  display: flex;
  width: 60%;
  margin-left: 17.5%;
  text-transform: uppercase;
}
